<div>
  <div class="container">
    <p class="annoucement-text text-center">
        {% if section.settings.show_announcement %}
            {{ section.settings.message }}
        {% endif %}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "text",
            "id":"message",
            "label":"Announcement Text",
            "default": "25% OFF for US based delivery"
        },
        {
            "type": "checkbox",
            "id": "show_announcement",
            "label": "Show Announcement Bar",
            "default":false
        }
    ]
  }
{% endschema %}