<div>
  <div class="container">
    <p class="annoucement-text text-center">
      {{ section.settings.message }}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "text",
            "id":"message",
            "label":"Announcement Text",
            "default": "25% OFF for US based delivery"
        }
    ]
  }
{% endschema %}