<div class="image-banner-{{section.id}}">
  <div class="image-banner-main">
    {% if section.settings.image != blank %}
        <img src="{{ section.settings.image |  image_url: width:1440}}">
    {% else %}
      {{ 'hero-apparel-1' |  placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}