html{
    margin: 0;
}
.announcement{
    background-color: var(--bg-color);
    padding: var(--padding);
    color: var(--text-color);
}
.announcement p{
    margin-bottom: 0;
    text-align: var(--text-align);
}