html {
  margin: 0;
}
.announcement {
  background-color: var(--bg-color);
  padding: var(--padding);
  color: var(--text-color);
}
.announcement p {
  margin-bottom: 0;
  text-align: var(--text-align);
}
/* image banner */
.image-banner-main{
  position: relative;
}
.banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* featured collection */
.card-body svg, .card-body img{
  width: 100%;
  height: auto;
}
/* image-with-text */
.image-with-text text{
  justify-content: center;
}
.wrapper{
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.wrapper .image{
  width: 50%;
  max-width: 1600px;
  object-fit: cover;
  vertical-align: middle;
}
.wrapper .text{
  flex: 1;
}