.product-media{
    width: 100%;
}

/* product variants */
.variant-pill{
    display: inline-block;
    margin-right: 10xp;

}
.variant-pill input[type="radio"]{
    display: none;
}
.variant-pill .variant-button{
    display: inline-block;
    padding: 8px 10px;
    background-color: #DDDDDD;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
.variant-pill input[type="radio"]:checked + .variant-button{
    background-color: #000000;
    color: #ffffff;
}

/* variant button */

.variant-pill input[type=radio]:checked+.variant-button.swatch{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}